html, body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

header {
    background: no-repeat center center;
    background-size: cover;
    color: white;
}

.color-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 60vh;
}

.singleCol {
    max-width: 750px;

}

footer {
    background-color: #6b6966;
    
}

footer a {
    color: rgb(255, 227, 227);

}

footer a:hover {
    color: rgb(54, 35, 35);

}

@media (max-width: 767.98px) {
    .color-overlay {
        min-height: 30vh;
    }
}
